
<% if todo.finsihed == false %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= todo.title %></h3>
  </div>
  <div class="panel-body">
    <li><%= todo.body %></li>
  </div>
</div>
<% elsif todo.finished == true %>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= todo.title %></h3>
  </div>
  <div class="panel-body">
    <li> <%= todo.body %> </li>
  </div>
</div>
<% end %>
   %div.panel.panel-primary
      %div.panel-heading
        %h3.panel-title= todo.title

        %div.panel-body
          %li= todo.body


/   %div.finishedTodos.col-md.5.text-center
/     %h4= current_user.username || current_user.email
/     %ul
/     - current_user.todos.each do |todo|
/       = render "shared/panels", :todo => todo


/   - @users.each do |user|
/     %div.allUserTodos.col-md-10.text-center
/       %h4= user.username || user.email
/       %ul
/         - user.todos.each do |todo|
/           = render "shared/panels", :todo => todo
/ - else
/ %div.container.center-block
/   - @users.each do |user|
/     %div.allUserTodos.col-md-10.text-center
/       %h4= user.username || user.email
/       %ul
/       - user.todos.each do |todo|
/         = render "shared/panels", :todo => todo